.btn {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6rem;
    color: var(--color-white);
    height: 34px;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(90deg, var(--color-gradient) 0%, var(--color-gradient-light) 100%);
    box-shadow: 0 2px 4px 0 rgba(250,91,30,0.34);
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 1rem 0 .9rem 0;
    transition: .3s ease;

    &:hover {
        transform: scale(1.05);
    }
    

}