*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: inherit; 
}

html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; 
}

body {
	background-color: var(--color-bg);

}

p {
	color: var(--color-text);
}

a {
	color: var(--color-text);
	cursor: pointer;
	text-decoration: none;
}

ul {
	list-style: none;
}
