:root {

	--color-bg: #E7ECF5;
	--color-white: #FFFFFF;
	--color-text: #474747;
	--color-grey-light: #D8D8D8;
	--color-primary: #FFBE33;
	--color-secondary: #D83550;	 
	--color-gradient: #D22D4F;
	--color-gradient-light:#F86358;
	--color-shadow:  rgba(250,91,30,0.34);


}

